@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
    width: 100vw;
    height: 250vh;
}
header{
    text-align: center;
    width: 100vw;
    height: 85vh;
}
.background-wave {
    width: 100vw;
    height: 84vh;
    background-image: url(imagem/landing-page-01-2.png);
    background-size: cover;
    padding:20px 20px 20px 20px; 
    overflow: hidden;
    flex-direction: row;
}
.header-elements{
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    width:95vw;
    overflow: hidden;
}
.logo_shopift{
    margin-top: 60px;
    width: 100px;
}
.email-element{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 15px;
}
#email{
    height: 6vh;
    width: 17vw;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    color: #888;
    font-weight: bold;
}
#email:hover {
    background-color: darkseagreen;
    color: #000;
}
.button_start{
    height: 6vh;
    width: 9vw;
    color: white;
    background-color: #212326;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
}
.button_start:hover {
    background-color: #888;
}
h1{
    font-size: 35px;
    color: white;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
h2{
    font-size: 20px;
    color: white;
    font-family: "Manrope", sans-serif;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}
h3{
    font-size: 9px;
    color: white;
    font-family: "Manrope", sans-serif;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin-top: 20px;
}
.e-commerce{
    justify-content: center;
}
.e_commerce{
    width: 28vw;
}
main {
    width: 100vw;
    justify-content: center;
    display: flex;
}
.main-container {
    justify-content: center;
    width: 50vw;
    height: 180px;
    padding:20px 20px 20px 20px; 
    border-radius: 1px;
    overflow: hidden;
}
.grid-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.material-symbols-outlined {
    scale: 1.5;
}
.customizable-menu, .all-menu, .safe-menu {
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
}
.menu_href {
    text-decoration: none;
    color: #000;
}
p {
    font-family: "Manrope", sans-serif;
    font-size: 10px;
    color: #888;
    line-height: 15px;
}
footer {
    display: block;
    width: 100vw;
}
.patrocinadores-list {
    height: 150px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.patro_list {
    border-block-start: 2px solid #8888884d;
    border-block-end: 2px solid #8888884d;
    width: 60vw;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.logo_cees {
    max-width: 8vw;
    max-height: 8vh;
}
.logo_nalata {
    max-width: 10vw;
    max-height: 10vh;
}
.logo_kirin {
    max-width: 10vw;
    max-height: 10vh;
}
.logo_tokyo {
    max-width: 11vw;
    max-height: 11vh;
}
.logo_meso {
    max-width: 5vw;
    max-height: 5vh;
}
.logo_coco {
    max-width: 14vw;
    max-height: 14vh;
}
.logo_brooklyn {
    max-width: 10vw;
    max-height: 10vh;
}
.logo_adore {
    max-width: 6vw;
    max-height: 6vh;
}
.area_theory {
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.box_theory {
    width: 80vw;
    height: 250px;

}
.text_theory {
    font-size: 22px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 20px;
}
.button_start_g {
    height: 6vh;
    width: 9vw;
    color: white;
    background-color: #008060;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    margin-top: 40px;
    cursor: pointer;
}

.button_start_g:hover {
    background-color: darkseagreen;
    color: #000;
}

.area_faqs {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-faqs {
    width: 80vw;
    height: 400px;
    background-color: #faf9f8;
}
.container-faqs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faqs {
    font-size: 30px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #008060;
    margin-top: 40px;
}
.box_questions {
    width: 700px;
    height: 300px;
    margin-top: 30px;
}
.question1, .question2, .question3, .question4 {
    font-size: 30px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    border-bottom: 1px solid #888;
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 10px;
}
.box-terms {
    width: 80vw;
    height: 30px;
    align-items: center;
}
.terms_policy {
    font-size: 15px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #008060;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.terms_s, .privacity_p {
    margin-right: 50px;
}